main #subtituloheader #datos-subtitulo figure {
    float: left;
    overflow: hidden;
    border-radius: 50%;
    margin: 0;
}

main {
    width: 100%;
    background-color: #fff;
    padding-bottom: 20px;
}

.cajagris {
    background-color: #e5ebed;
    margin-top: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin: 75px 0;
}

main #subtituloheadercalculadora #datos-subtitulo h2 {
    display: block;
    font-family: sansa-pro-normal, sans-serif;
    font-size: 35px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 45px;
}

main #subtituloheadercalculadora #datos-subtitulo {
    width: 70%;
    margin-top: 80px;
}

main #subtituloheadercalculadora #datos-subtitulo figure {
    float: left;
    width: 86px;
    height: 86px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 25px;
    margin-left: 0px;
}

.cajabordegris {
    border: 1px solid #d7e0e3;
    border-radius: 7px;
    width: calc(100% - 30px);
    padding: 10px 15px;
    background-color: #fff;
    margin-bottom: 20px;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
}

main.calculadora .cajabordegris {
    padding: 50px 15px;
    width: calc(100% - 0px);
}

.img-crop1 {
    width: 59px;
    height: 59px;
    margin: -58.5px 0px 0px;
    display: block;
}

.bordegris {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    right: -10px;
    background-color: #e6e6e6;
}

.contenedorcalculadora01 {
    padding-top: 10px;
}

.cajamorada figure {
    margin: 0px;
}

.tabla-calculadora {
    padding: 20px 0;
    display: block;
    margin-top: 0em;
}

.filacalculadora {
    display: block;
    text-align: left;
    border-bottom: 1px solid #dae2e5;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 0;
}

.fila1calculadora {
    float: left !important;
    font-family: sansa-pro-bold, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #E94E1B;
    text-align: left;
    line-height: 20px;
    padding: 2px;
    margin-right: 0;
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.fila2calculadora {
    float: left !important;
    font-family: sansa-pro-normal, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #3F4A56;
    text-align: left;
    line-height: 20px;
    padding: 2px;
    margin-right: 0;
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.titulocalculadora {
    font-family: sansa-pro-normal, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #2BA6DF;
}

.h1despachoyfac {
    font-family: sansa-pro-bold, sans-serif;
    font-size: 30px;
    color: #0E71B8;
}

.img-calculadora {
    padding-right: 10px;
}

main.pago h2.instruccion {
    font-family: sansa-pro-light, sans-serif;
    font-size: 25px;
    color: #666666;
}

main.pago h1 {
    font-family: sansa-pro-bold, sans-serif;
    font-size: 30px;
    color: #951B81;
}

.terminos {
    font-family: sansa-pro-normal;
    font-size: 18px;
    text-decoration: underline;
    color: #555;
    margin-left: 15px;
}

main.pago .radiobox{
        margin-left: 47%;
}