.video_home {
    background-size: auto;
    background-image: url('http://dev.wstudio.cl/sodexo/images/home/blocks/video.png')
}

@media (min-width: 1000px) {
    .video_home {
        min-height: 500px;
    }
}

main #subtituloheader {
    width: 100%;
    height: 230px;
    background-image: url(../images/header/bg_quienes_somos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.wrap {
    position: relative;
    width: 1100px;
    margin: 0 auto;
}

main #subtituloheader #datos-subtitulo {
    width: 70%;
    margin-top: 80px;
}

.izq {
    float: left;
}

main #subtituloheader #datos-subtitulo figure {
    float: left;
    width: 86px;
    height: 86px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0;
}

figure {
    margin: 1em 60px;
}

main #subtituloheader #datos-subtitulo h2 {
    display: block;
    font-family: sansa-pro-normal, sans-serif;
    font-size: 35px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 35px;
    padding-left: 110px;
}

main {
    width: 100%;
    background-color: #fff;
    padding-bottom: 20px;
}

main .privado {
    padding: 0 0 20px 0;
    margin-top: 0;
}

main .privadointerior {
    max-width: 1132px;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

input,
textarea,
keygen,
select,
button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 11px system-ui;
}

input,
textarea,
keygen,
select,
button,
meter,
progress {
    -webkit-writing-mode: horizontal-tb;
}

.cajagris {
    background-color: #e5ebed;
    margin-top: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin: 75px;
}



main #subtituloheadercalculadora #datos-subtitulo h2 {
    display: block;
    font-family: sansa-pro-normal, sans-serif;
    font-size: 35px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 45px;
}

main #subtituloheadercalculadora #datos-subtitulo {
    width: 70%;
    margin-top: 80px;
}

main #subtituloheadercalculadora #datos-subtitulo figure {
    float: left;
    width: 86px;
    height: 86px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 25px;
    margin-left: 0px;
}

.cajabordegris {
    border: 1px solid #d7e0e3;
    border-radius: 7px;
    width: calc(100% - 30px);
    padding: 10px 15px;
    background-color: #fff;
    margin-bottom: 20px;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
}

.img-crop1 {
    width: 59px;
    height: 59px;
    margin: -58.5px 0px 0px;
    display: block;
}

.h1_calculadora {
    font-family: sansa-pro-bold, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #E94E1B;
}

.h2_calculadora {
    font-family: sansa-pro-normal, sans-serif;
    font-size: 21px;
    line-height: 18px;
    color: #3F4A56;
    padding: 10px 0px 20px 0px;
}



.h4_calculadora {
    font-family: sansa-pro-normal, sans-serif;
    font-size: 28px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top: 10px;
}

.h5_calculadora {
    font-family: sansa-pro-normal, sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 10px 0px 20px 0px;
}

.bordegris {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    right: -10px;
    background-color: #e6e6e6;
}

.contenedorcalculadora01 {
    padding-top: 10px;
}

.cajamorada figure {
    margin: 0px;
}

.tabla-calculadora {
    padding: 20px 0;
    display: block;
    margin-top: 0em;
}

.filacalculadora {
    display: block;
    text-align: left;
    border-bottom: 1px solid #dae2e5;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 0;
}

.fila1calculadora {
    float: left !important;
    font-family: sansa-pro-bold, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #E94E1B;
    text-align: left;
    line-height: 20px;
    padding: 2px;
    margin-right: 0;
    display: inline-block;
    vertical-align: top;
}

.fila2calculadora {
    float: left !important;
    font-family: sansa-pro-normal, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #3F4A56;
    text-align: left;
    line-height: 20px;
    padding: 2px;
    margin-right: 0;
    display: inline-block;
    vertical-align: top;
}

.titulocalculadora {
    font-family: sansa-pro-normal, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #2BA6DF;
}

.h1despachoyfac {
    font-family: sansa-pro-bold, sans-serif;
    font-size: 30px;
    color: #0E71B8;
}

.img-calculadora {
    padding-right: 10px;
}

main.pago h2.instruccion {
    font-family: sansa-pro-light, sans-serif;
    font-size: 25px;
    color: #666666;
}

main.pago h1 {
    font-family: sansa-pro-bold, sans-serif;
    font-size: 30px;
    color: #951B81;
}