/*Sansa Pro - Normal*/
@font-face {
    font-family: 'sansa-pro-normal';
    src: url('../fonts/sansa-pro/sansa-pro-normal.eot');
    src: url('../fonts/sansa-pro/sansa-pro-normal-.eot#iefix') format('embedded-opentype'),
         url('../fonts/sansa-pro/sansa-pro-normal.woff') format('woff'),
         url('../fonts/sansa-pro/sansa-pro-normal.ttf') format('truetype'),
         url('../fonts/sansa-pro/sansa-pro-normal.svg#sansa-pro-normal') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Sansa Pro - Light*/
@font-face {
    font-family: 'sansa-pro-light';
    src: url('../fonts/sansa-pro/sansa-pro-light.eot');
    src: url('../fonts/sansa-pro/sansa-pro-light-.eot#iefix') format('embedded-opentype'),
         url('../fonts/sansa-pro/sansa-pro-light.woff') format('woff'),
         url('../fonts/sansa-pro/sansa-pro-light.ttf') format('truetype'),
         url('../fonts/sansa-pro/sansa-pro-light.svg#sansa-pro-light') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Sansa Pro - Bold*/
@font-face {
    font-family: 'sansa-pro-bold';
    src: url('../fonts/sansa-pro/sansa-pro-bold.eot');
    src: url('../fonts/sansa-pro/sansa-pro-bold-.eot#iefix') format('embedded-opentype'),
         url('../fonts/sansa-pro/sansa-pro-bold.woff') format('woff'),
         url('../fonts/sansa-pro/sansa-pro-bold.ttf') format('truetype'),
         url('../fonts/sansa-pro/sansa-pro-bold.svg#sansa-pro-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}