/* CSS for Mobile*/

@media all and (max-width:768px) {
    /*    GENERAL*/
    header #box_boton_header {
        position: relative;
        float: right;
        height: auto;
        width: 100px;
        margin-top: 35px;
    }
    nav {
        display: none;
        position: absolute;
        width: 100%;
        height: auto;
        bottom: auto;
        top: 0px;
        left: 0;
        z-index: 99999;
    }
    /*    INICIO*/
    #info-productos #grupo-productos {
        width: 75%;
        margin: 0 auto;
    }
    .banner.ser_cliente p {
        margin-top: 30px;
    }
    .banner.calculadora p {
        margin-top: 20px;
    }
    main.calculadora label input[type=number] {
        width: 94%;
    }
    /*    INICIO*/
    /*    GENERAL*/
    .cajagris {
        margin: 15px;
    }
    form label input[type=text],
    form label input[type=number],
    form label input[type=email],
    form label input[type=password] {
        width: 100%;
    }
    main #subtituloheader #datos-subtitulo h2 {
        font-size: 20px;
        margin-top: 20px;
        padding-left: 70px;
        color: #fff;
        text-transform: uppercase;
        line-height: 10px;
    }
    main #subtituloheader {
        height: 80px;
        background-size: cover;
    }
    main #subtituloheader #datos-subtitulo {
        width: 100%;
        margin-top: 15px;
        margin-left: 10px;
    }
    .select {
        width: 100%
    }
    main.autenticacion form .select {
        width: calc(100% - 20px);
    }
    .rc-anchor-normal {
        width: 100% !important;
    }
    #rc-imageselect,
    .g-recaptcha {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        margin-top: 20px;
    }
    .contenidoformulario {
        padding: 30px;
        margin-top: 70px;
    }
    .cajabordegris {
        width: 100%;
    }
    .row .col-xs-alignment-center {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: -ms-flex;
        display: flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center
    }
    /*    INICIO*/
    main.inicio .ser_cliente,
    main.inicio .calculadora {
        padding: 55px 25px;
    }
    main.inicio .ser_cliente,
    main.inicio .calculadora {
        min-height: 350px
    }
    main.inicio .video_home {
        height: 470px;
        width: 100%;
        /*        min-width: 660px;*/
    }
    main.inicio .boton_video {
        margin: auto;
        position: absolute;
        top: 180px;
        left: 0;
        bottom: 0;
        right: 0;
    }
    main.inicio .boton_video i {
        font-size: 100px;
        color: #fff
    }
    .banner h4 {
        top: 100px;
    }
    /*    INICIO*/
    /*    Autenticacion*/
    a.ingresar {
        margin-top: 20px;
    }
    /*    Autenticacion*/
    /*    QUIERO SER CLIENTE*/
    main #subtituloheader #datos-subtitulo figure {
        float: left;
        max-width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        margin: -5px 20px 0px 25px;
    }
    main #subtituloheader #datos-subtitulo figure img .icono {
        width: 86px;
        height: 86px;
        margin: 0px;
        display: block;
    }
    /*
    main #subtituloheader #datos-subtitulo h2 {
        padding-left: 0px;
    }
*/
    p.instruccion {
        margin-bottom: 25px;
        font-size: 14px;
        color: #3F4A56;
    }
    .col-xs-6 .fila,
    .col-xs-12 .fila {
        margin-top: 25px;
    }
    /*    QUIERO SER CLIENTE*/
    /*    CALCULADORA*/
    main.calculadora .col-xs-6 .fila,
    main.calculadora .col-xs-12 .fila {
        margin-top: 0px;
    }
    h3.calculadora {
        padding-top: 10px;
    }
    h4.calculadora {
        padding-top: 10px;
    }
    h5.calculadora {
        font-size: 14px;
        color: #fff;
    }
    .icono-calculadora {
        width: 100%;
        max-width: 100px;
        height: auto;
        max-height: 100px;
        margin: 30px auto;
    }
    .cajaverde {
        background-color: #3AAA35;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        padding: 10px;
        margin-bottom: 20px;
    }
    .cajamorada {
        background-color: #951B81;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        padding: 10px;
        margin-bottom: 20px;
    }
    #caja-ahorro h2 {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .iconocalculadora {
        min-height: 50px;
        min-width: 50px;
        max-height: 65px;
        max-width: 65px;
    }
    /*    CALCULADORA*/
    /*    AUTENTICACIÓN*/
    main .instruccion_container figure {
        margin: -75px auto 20px auto;
    }
    main .instruccion_container img {
        margin-top: -70px;
    }
    main .cajagris {
        margin: 25px 10px 10px 10px;
    }
    main figure {
        width: 70px;
        height: 70px;
        overflow: hidden;
        border-radius: 50%;
        margin-top: 0px;
    }
    .round-button {
        margin-left: 0px;
    }
    form#ingreso {
        margin-top: 30px;
    }
    /*    AUTENTICACIÓN*/
    /*    DETALLE DE COMPRA*/
    /*
    #tabla-beneficiarios {
        width: 100%;
        padding: 10px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #bfcbcf;
        font-family: sansa-pro-normal;
    }
*/
    #tabla-beneficiarios a {
        background-color: #d82b1d;
        text-decoration: none;
        color: #fff;
        border-radius: 4px;
        padding: 5px;
        font-size: 12px;
    }
    #caja-ahorro {
        height: 110px;
        width: 100%;
        padding: 20px 20px 20px 20px;
        margin: 10px 0px 40px 0px;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #bfcbcf;
        font-family: sansa-pro-normal;
        text-align: center;
    }
    main.detalle_compra .row .col-xs-alignment-center {
        /*        display: block;*/
    }
    main.detalle_compra #caja-ahorro .icono-ahorro figure {
        width: 60px;
        height: 60px;
    }
    main.detalle_compra .row .col-xs-alignment-center a.btndet {
        display: block;
        margin-top: 20px;
        text-align: center;
    }
    #tabla-compra {
        width: 100%;
        padding: 5px 20px 10px 20px;
        margin: 20px 0 30px 0px;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #bfcbcf;
        font-family: sansa-pro-normal;
    }
    main.detalle_compra #tabla-beneficiarios .fila .col input {
        width: 100%;
        color: #596066;
        padding: 5px;
        background-color: #fff;
        font-family: sansa-pro-normal;
        font-size: 14px;
        border: 1px solid #dae2e5;
        border-radius: 5px;
        text-align: left;
    }
    .col-concepto {
        width: 60%
    }
    .col-numero {
        width: 40%
    }
    main.detalle_compra p.instruccion {
        margin-bottom: 45px;
        margin-top: 45px;
    }
    main.detalle_compra .col-xs-6 .fila,
    .col-xs-12 .fila {
        margin-top: 5px;
    }
    main.detalle_compra .fila span {
        font-size: 13px;
    }
    .col.col-eliminar-beneficiario {
        text-align: center;
        margin: 30px auto 10px auto !important;
    }
    .chosen-container {
        width: 100%;
    }
    main.detalle_compra #caja-ahorro h1 {
        font-size: 25px;
    }
    a#agregar-beneficiario {
        margin-top: 20px;
    }
    /*    DETALLE DE COMPRA*/
    /*    COMPROBANTE*/
    .caja-comprobante {
        border: 1px solid #d7e0e3;
        border-radius: 7px;
        height: 520px;
        width: 100%;
        padding: 0px 20px 30px 20px;
        background-color: #fff;
        margin-bottom: 20px;
        transition: all 200ms ease-in-out;
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
    }
    img.sobre {
        width: 20%;
        height: 20%;
    }
    main.comprobante p {
        font-family: sansa-pro-normal;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .instruccion_container h1 {
        font-size: 25px;
    }
    .instruccion_container h2 {
        font-size: 20px;
    }
    main.comprobante .comprobante h1 {
        font-size: 18px;
        margin: 20px 0px 5px 0;
    }
    main.comprobante .comprobante h2 {
        font-size: 15px;
    }
    /*    COMPROBANTE*/
    /*    Despacho y Facturacion*/
    #tabla-beneficiarios .fila .col {
        width: 100%;
        margin-top: 20px;
        text-align: left;
    }
    #tabla-beneficiarios .fila .col:first-child {
        margin-top: 10px;
    }
    .col.col-eliminar-beneficiario {
        text-align: center !important;
    }
    #tabla-beneficiarios .fila {
        width: 100%;
        padding: 10px;
        margin: 10px auto;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #bfcbcf;
        font-family: sansa-pro-normal;
    }
    #tabla-beneficiarios .fila label {
        position: relative;
        width: 100%;
        font-family: sansa-pro-bold, sans-serif;
        color: #3F4A56;
        font-size: 12px;
        margin-bottom: 5px;
        line-height: 20px;
        font-weight: normal;
        text-align: left;
    }
    main.despacho_facturacion .row .col-xs-alignment-right {
        display: flex;
        justify-content: flex-end;
        margin-top: -12px;
        padding-right: 0px;
        padding-top: 0px;
    }
    /*    Despacho y Facturacion*/
    /*    Pago*/
    main.pago .terminos {
        font-size: 15px;
    }
    /*    Pago*/
}


/* CSS for Tablet*/

@media all and (min-width:769px) and (max-width:1024px) {
    form label input[type=text],
    form label input[type=number],
    form label input[type=email],
    form label input[type=password] {
        width: 100%;
    }
    main #subtituloheader #datos-subtitulo {
        width: 100%;
        margin-top: 20px;
        margin-left: 30px;
    }
    main #subtituloheader #datos-subtitulo h2 {
        font-size: 25px;
        line-height: 25px;
        margin-top: 25px;
        margin-left: 100px;
        color: #fff;
        text-transform: uppercase;
    }
    main #subtituloheader {
        height: 120px;
    }
    main #subtituloheader #datos-subtitulo figure {
        max-width: 70px;
        max-height: 70px;
    }
    main .instruccion_container figure {
        margin: -75px auto 20px auto;
    }
    .select {
        width: 100%
    }
    main.autenticacion form .select {
        width: calc(100% - 20px);
    }
    .rc-anchor-normal {
        width: 100% !important;
    }
    #rc-imageselect,
    .g-recaptcha {
        transform: scale(0.85);
        -webkit-transform: scale(0.85);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        margin-top: 20px;
    }
    .contenidoformulario {
        padding: 30px;
    }
    main.calculadora p.instruccion {
        margin-bottom: 45px;
    }
    main.calculadora .cajagris {
        margin: 30px;
    }
    .cajagris {
        margin: 80px 30px 30px 30px !important;
    }
    header #box_boton_header {
        position: relative;
        float: right;
        height: auto;
        width: 200px;
        margin-top: 35px;
    }
    main.calculadora label input[type=number] {
        width: 70%;
    }
    /*    Inicio*/
    .boton_video {
        margin: auto;
        position: absolute;
        top: 290px;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .banner.ser_cliente p {
        margin-top: 50px;
        margin-bottom: 35px;
    }
    .banner.calculadora p {
        margin-top: 20px;
        margin-bottom: 35px;
    }
    main.inicio .ser_cliente,
    main.inicio .calculadora {
        padding: 40px;
    }
    #info-productos {
        padding: 0 10% !important;
    }
    /*    Inicio*/
    /*    Quiero ser Cliente*/
    .col-lg-12 .fila,
    .col-md-12 .fila {
        margin-top: 25px;
    }
    /*    Quiero ser Cliente*/
    /*    Autenticación*/
    a.ingresar {
        margin-top: 0px;
    }
    /*    Autenticación*/
    /*    Pago*/
    #tabla-compra {
        width: 95%;
        padding: 5px 20px 10px 20px;
        margin: 20px 5px;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #bfcbcf;
        font-family: sansa-pro-normal;
    }
    /*    Pago*/
    /*    CALCULADORA*/
    .cajaverde {
        background-color: #3AAA35;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        padding: 5px;
    }
    .cajamorada {
        background-color: #951B81;
        margin: 20px 0;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        padding: 5px;
    }
    img.icono-calculadora {
        padding: 20px 0 0 30px;
    }
    .tabla-calculadora {
        margin: 0px;
    }
    /*    CALCULADORA*/
    .iconocalculadora {
        min-height: 65px;
        min-width: 65px;
        max-height: 70px;
        max-width: 70px;
    }
    .boton_video i {
        font-size: 100px;
        color: #fff;
    }
    /*    Detalle de Compra*/
    main.detalle_compra p.instruccion {
        margin-bottom: 45px;
        margin-top: 45px;
    }
    main.detalle_compra #tabla-beneficiarios .fila .col input {
        width: 100%;
        color: #596066;
        padding: 5px;
        background-color: #fff;
        font-family: sansa-pro-normal;
        font-size: 14px;
        border: 1px solid #dae2e5;
        border-radius: 5px;
        text-align: left;
    }
    /*    Detalle de Compra*/
    /*    COMPROBANTE*/
    main.comprobante h1 {
        font-size: 20px;
    }
    .caja-comprobante {
        border: 1px solid #d7e0e3;
        border-radius: 7px;
        min-height: 250px;
        width: 100%;
        padding: 30px 0px;
        background-color: #fff;
        margin-bottom: 20px;
        transition: all 200ms ease-in-out;
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
    }
    main.detalle_compra h1,
    main.comprobante h1 {
        color: #ee4c2b;
    }
    main.comprobante h2 {
        font-size: 18px;
    }
    main.comprobante .comprobante h1 {
        font-size: 18px;
        margin: 20px 0px 5px 0;
    }
    main.comprobante .comprobante h2 {
        font-size: 15px;
    }
    main.comprobante p {
        font-family: sansa-pro-normal;
        margin-top: 35px;
    }
    img.sobre {
        width: 60%;
        height: 60%;
    }
    /*DETALLE DE COMPRA */
    .cambiar-perfil {
        padding-top: 11px;
    }
    #caja-ahorro {
        height: 180px;
        width: 95%;
        padding: 30px;
        margin: 50px 0px;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #bfcbcf;
        font-family: sansa-pro-normal;
    }
    main.detalle_compra figure.icono-ahorro img {
        margin: 0 0;
    }
    #tabla-beneficiarios a {
        background-color: #d82b1d;
        text-decoration: none;
        color: #fff;
        border-radius: 4px;
        padding: 5px;
        font-size: 12px;
    }
    #tabla-beneficiarios .fila {
        width: 48%;
        padding: 10px;
        margin: 10px 10px 40px 0px;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #bfcbcf;
        font-family: sansa-pro-normal;
    }
    #tabla-beneficiarios .fila label {
        position: relative;
        width: 100%;
        font-family: sansa-pro-bold, sans-serif;
        color: #3F4A56;
        font-size: 12px;
        margin-bottom: 5px;
        line-height: 20px;
        font-weight: normal;
        text-align: left
    }
    #tabla-beneficiarios .fila .col {
        width: 100%;
        margin-top: 15px;
        text-align: left;
    }
    .col.col-eliminar-beneficiario {
        text-align: center;
        margin: 40px auto 10px auto !important;
    }
    /*DESPACHO Y FACTURACION */
    main.despacho_facturacion .row .col-md-alignment-right,
    main.despacho_facturacion .row .col-sm-alignment-right {
        display: flex;
        justify-content: flex-end;
        margin-top: -14px;
        padding-right: 0px;
    }
}


/*CSS for Mobile and Tablet */

@media all and (max-width:1024px) {
    main.menu-open:after {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background: rgba(0, 0, 0, 0.8);
    }
    main.pago .row .col-xs-alignment-right,
    main.pago .row .col-md-alignment-right {
        display: flex;
        justify-content: flex-end;
        margin-top: -15px;
        padding-right: 0px;
    }
    .btn-fixed-150 {
        margin-top: 20px;
    }
    footer #info-footer .info.email {
        margin-right: 0;
    }
    header #box_boton_header .boton_compra {
        display: block;
        background-color: #E94E1B;
        border: none;
        border-radius: 3px;
        height: 40px;
        width: 90px;
        float: left;
        font-family: sansa-pro-bold, sans-serif;
        font-size: 9px;
        text-align: center;
        color: #fff;
        margin-left: 0
    }
    /*    CALCULADORA*/
    a#calcular {
        margin-top: 40px;
    }
    /*    CALCULADORA*/
    /*    Detalle de Compra*/
    h2.cambiar-perfil {
        margin-bottom: 20px;
    }
    /*    Detalle de Compra*/
}


/*CSS for Mobile and Tablet */


/* CSS for Desktop */

@media all and (min-width:1025px) {
    /*    GENERAL*/
    .col-lg-alignment-center {
        text-align: center;
    }
    main #subtituloheader {
        height: 210px;
    }
    main .instruccion_container {
        margin: -100px auto 20px auto;
    }
    main #subtituloheader #datos-subtitulo h2 {
        padding-left: 110px;
        color: #fff;
        text-transform: uppercase;
        font-size: 35px;
        line-height: 80px;
    }
    #datos-subtitulo {
        margin-top: 55px;
    }
    .contenidoformulario {
        padding: 60px;
    }
    main.ser_cliente .contenidoformulario,
    main.despacho_facturacion .contenidoformulario {
        padding-left: 60px;
        padding-right: 0px;
        padding-bottom: 60px;
    }
    nav {
        width: 100%;
        background-color: rgb(236, 241, 243);
        left: 0;
    }
    nav .wrap {
        z-index: 2
    }
    nav .wrap>ul>li {
        display: inline;
        margin-right: 40px;
        line-height: 40px;
        position: relative
    }
    nav .wrap>ul>li>a {
        position: relative;
        display: inline-block;
        color: #29295D;
        font-size: 14px;
        font-family: sansa-pro-normal, sans-serif
    }
    nav .wrap>ul>li>a::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        content: '';
        width: 0;
        height: 3px;
        background-color: #2ba6df;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out
    }
    nav .wrap>ul>li>a.selec::after,
    nav .wrap>ul>li>a:hover::after {
        width: 100%
    }
    nav .wrap>ul>li>a.selec {
        font-family: sansa-pro-bold, sans-serif
    }
    main.calculadora label input[type=number] {
        width: 70%;
    }
    /*    GOOGLE CAPTCHA*/
    #rc-imageselect,
    .g-recaptcha {
        transform: scale(0.98);
        -webkit-transform: scale(0.98);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        margin-top: 20px;
    }
    /*    GOOGLE CAPTCHA*/
    p.instruccion {
        margin-bottom: 25px;
        font-size: 15px;
        color: #3F4A56;
    }
    .select {
        width: calc(100% - 60px);
    }
    main.autenticacion .select {
        width: calc(100% - 20px);
    }
    .col-xs-6 .fila,
    .col-xs-12 .fila {
        margin-top: 30px;
    }
    #tabla-compra .fila {
        margin-top: 5px;
    }
    /*    GENERAL*/
    /*    INICIO*/
    main.inicio {
        position: relative;
        /* z-index: 9999; */
        background-color: #ecf1f3;
    }
    #info-productos #grupo-productos {
        text-align: center;
        width: 100%;
        margin: 0 auto
    }
    .banner h4 {
        min-height: 80px;
    }
    .video_home {
        height: 650px;
        /*        min-width: 660px;*/
    }
    .boton_video {
        margin: auto;
        position: absolute;
        top: 290px;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .boton_video i {
        font-size: 100px;
        color: #fff
    }
    .carousel_banner {
        height: 400px;
    }
    main.inicio .ser_cliente {
        height: 250px;
        padding: 25px;
    }
    main.inicio .calculadora {
        height: 250px;
        padding: 25px;
    }
    .video_home {
        min-height: 500px;
    }
    #info-productos {
        padding: 15px 0
    }
    /*    INICIO*/
    /*    CALCULADORA*/
    #calculadora .row .col-md-alignment-right {
        padding-right: 30px;
    }
    .calculadora-resumen {
        padding-top: 15px;
        padding-left: 10px;
        margin-right: 40px;
        border-right: 1px solid #dae2e5;
    }
    .icono-calculadora {
        width: 150px;
        height: 150px;
        margin: 40px;
        display: block;
        padding: 10px;
    }
    .cajaverde {
        background-color: #3AAA35;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        padding: 10px;
        height: auto;
    }
    .cajamorada {
        background-color: #951B81;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        padding: 10px;
        height: auto;
    }
    .cajamorada .fila,
    .cajaverde .fila {
        margin-top: 0px;
    }
    .cajaverde figure {
        margin: 0px;
    }
    h5.calculadora {
        font-size: 14px;
        color: #fff;
        margin: 0px 0px 0px 10px;
    }
    h3.calculadora {
        margin-top: 15px;
    }
    h4.calculadora {
        margin-top: 15px;
    }
    main.calculadora p.instruccion,
    main.ser_cliente p.instruccion {
        margin-bottom: 45px;
        margin-top: 0px;
    }
    .iconocalculadora {
        min-height: 60px;
        min-width: 60px;
        max-height: 65px;
        max-width: 65px;
    }
    main.calculadora .row .col-lg-alignment-right {
        padding-right: 0px;
        display: flex;
        justify-content: flex-end;
    }
    /*    CALCULADORA*/
    /*    QUIERO SER CLIENTE*/
    /*    QUIERO SER CLIENTE*/
    /*    Autenticacion*/
    form select {
        display: block;
        width: 100%;
        background-color: #fff;
        border: 1px solid #bfcbcf;
        padding: 5px;
        margin-top: 5px;
        border-radius: 5px;
        font-family: sansa-pro-normal, 'Arial', sans-serif;
        font-size: 12px;
        height: 38px;
        background-image: url(.././images/general/flecha_select_movil.png);
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    input#reestablecer {
        margin-top: 30px
    }
    .entrar,
    .modificar {
        margin-top: 30px;
    }
    /*    Autenticacion*/
    /*    DESPACHO Y FACTURACIÓN*/
    p.instruccion {
        margin-bottom: 25px;
        margin-top: 45px;
    }
    main.despacho_facturacion .row .col-lg-alignment-right {
        padding-top: 0px;
    }
    main.despacho_facturacion .volver {
        padding-top: 50px;
    }
    /*    DESPACHO Y FACTURACIÓN*/
    /*    DETALLE DE COMPRA*/
    #tabla-beneficiarios {
        width: 100%;
        padding: 10px 20px 20px 20px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #bfcbcf;
        font-family: sansa-pro-normal;
    }
    #tabla-beneficiarios .col-eliminar-beneficiario a {
        background-color: #d82b1d;
        text-decoration: none;
        color: #fff;
        border-radius: 4px;
        padding: 5px;
        font-size: 14px;
    }
    #tabla-compra {
        width: 100%;
        padding: 5px 20px 10px 20px;
        margin: 20px 0px;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #bfcbcf;
        font-family: sansa-pro-normal;
    }
    #caja-ahorro {
        height: 205px;
        width: 100%;
        padding: 55px 30px 0 30px;
        margin: 47px 0px;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #bfcbcf;
        font-family: sansa-pro-normal;
    }
    .titulo-detalle_compra {
        width: 95%;
    }
    main.detalle_compra figure.icono-ahorro {
        margin: 0 0;
    }
    #tabla-beneficiarios form {
        padding: 0
    }
    #tabla-beneficiarios h4 {
        font-size: 20px
    }
    #tabla-beneficiarios .fila {
        border-bottom: none;
        padding: 0
    }
    #tabla-beneficiarios .fila .col {
        margin-bottom: 0;
        padding: 10px 2px;
        text-align: center;
    }
    .col-rut {
        width: 13%;
    }
    .col-nombre {
        width: 17%
    }
    .col-apellido {
        width: 17%
    }
    .col-nueva-tarjeta {
        width: 17%
    }
    .col-monto {
        width: 12%
    }
    .col-saldo {
        width: 12%
    }
    .col-eliminar-beneficiario {
        width: 10%
    }
    .col-concepto {
        width: 50%
    }
    .col-numero {
        width: 50%
    }
    #tabla-beneficiarios .fila.head .col:nth-child(1),
    #tabla-beneficiarios .fila.head .col:nth-child(2),
    #tabla-beneficiarios .fila.head .col:nth-child(3),
    #tabla-beneficiarios .fila.head .col:nth-child(4),
    #tabla-beneficiarios .fila.head .col:nth-child(5),
    #tabla-beneficiarios .fila.head .col:nth-child(6),
    #tabla-beneficiarios .fila.head .col:nth-child(7) {
        font-family: sansa-pro-bold;
        color: #596066;
    }
    #tabla-beneficiarios .fila .col span {
        padding: 5px;
        font-size: 14px;
        color: #596066;
    }
    main.detalle_compra #tabla-beneficiarios .fila .col input {
        width: 95%;
        height: 27px;
        color: #596066;
        padding: 5px;
        background-color: #fff;
        font-family: sansa-pro-normal;
        font-size: 14px;
        border: 1px solid #dae2e5;
        border-radius: 5px;
        text-align: center;
    }
    .cambiar-perfil {
        margin-bottom: 20px;
    }
    .fila.facturador {
        padding-top: 35px;
    }
    /*    DETALLE DE COMPRA*/
    main.detalle_pago #tabla-beneficiarios .fila .col input {
        width: 100%;
        padding-left: 0px;
    }
    .row .col-md-alignment-right {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
        padding-right: 60px;
    }
    main.detalle_compra .row .col-md-alignment-right,
    main.comprobante .row .col-md-alignment-right {
        padding-right: 0px;
    }
    .row .col-md-alignment-left {
        display: flex;
        justify-content: flex-start;
        margin-top: 30px;
        padding-right: 60px;
    }
    main h1 {
        font-family: sansa-pro-bold, sans-serif;
        font-size: 30px;
    }
    main .instruccion_container h1 {
        text-transform: uppercase;
    }
    main.despacho_facturacion h1 {
        font-family: sansa-pro-bold, sans-serif;
        font-size: 30px;
        color: #0E71B8;
    }
    main.despacho_facturacion h2.instruccion,
    main.detalle_compra h2.instruccion,
    main.comprobante h2.instruccion {
        font-family: sansa-pro-light, sans-serif;
        font-size: 25px;
        color: #666;
    }
    main figure {
        width: 86px;
        height: 86px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 25px;
        margin-left: 46%;
        margin-top: -90px;
    }
    main figure img {
        width: 102px;
        height: 102px;
        margin: 0px;
        display: block;
    }
    main.despacho_facturacion .instruccion_container {
        margin-bottom: 0px;
        padding-right: 60px;
    }
    main.despacho_facturacion .boton-ingresar {
        margin-top: 43px;
    }
    main.despacho_facturacion span.olvide_contrasena {
        font-size: 13px;
    }
    button#ingresar {
        margin-top: 30px;
    }
    a#cambiar-perfil {
        margin-top: 80px;
    }
    /* PAGO */
    main.pago #tabla-compra {
        width: 100%;
        margin: 20px 0;
    }
    main.pago .row .col-lg-alignment-right {
        display: flex;
        justify-content: flex-end;
        margin-top: 0px;
        padding-right: 0px;
        padding-top: 0px;
    }
    /*    COMPROBANTE DE PAGO*/
    .caja-comprobante {
        border: 1px solid #d7e0e3;
        border-radius: 7px;
        height: 300px;
        width: 100%;
        padding: 75px 25px;
        background-color: #fff;
        margin-bottom: 20px;
        transition: all 200ms ease-in-out;
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
    }
    img.sobre {
        padding-left: 0px;
    }
    .col-md-5 .comprobante {
        border-right: 1px solid #9aa4a8;
        margin-right: 30px;
    }
    /*    COMPROBANTE DE PAGO*/
    #info-productos {
        width: calc(100% - 5%);
    }
    main.comprobante p {
        font-family: sansa-pro-normal;
        margin-top: 40px;
    }
    main.comprobante .instruccion_container h1 {
        font-size: 30px;
    }
    main.comprobante h1 {
        font-size: 20px;
        margin: 20px 0px 10px 0;
    }
    main.comprobante h2 {
        font-size: 18px;
    }
}


/* CSS GENERAL*/

#main.pago .radiobox {
    padding-left: 70px;
}


/*INICIO*/

#info-productos {
    position: relative;
    background-color: #ecf1f3;
    padding-bottom: 0;
    padding: 10px;
}

#info-productos #grupo-productos.owl-carousel {
    position: relative
}

#info-productos #grupo-productos.owl-carousel .owl-controls {
    height: 0
}

#info-productos #grupo-productos.owl-carousel .owl-controls .owl-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 50px)
}

#info-productos #grupo-productos.owl-carousel .owl-controls .owl-buttons .prev {
    position: absolute;
    left: 0
}

#info-productos #grupo-productos.owl-carousel .owl-controls .owl-buttons .next {
    position: absolute;
    right: 0
}

#info-productos .next,
#info-productos .prev {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    cursor: pointer
}

#info-productos .prev {
    left: 5px
}

#info-productos .next {
    right: 5px
}

#info-productos #grupo-productos img.producto {
    display: inline-block;
    margin: 0;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    width: 135px
}

#info-productos #grupo-productos img.producto:hover:not(.selec) {
    opacity: .8;
    cursor: pointer
}

#info-productos #grupo-productos img.producto.selec {
    background-color: #fff;
    border-right-color: #fff
}

#info-productos #grupo-productos img.producto:last-child {
    border-right: none
}

#testimonials-video {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    transition: all .3s;
    transform: scale(.3);
    opacity: 0;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center
}

#testimonials-video.visible {
    transform: scale(1);
    opacity: 1
}

#testimonials-video.visible .video {
    opacity: 1;
    transform: translateY(0)
}

#testimonials-video .video {
    width: 760px;
    height: 530px;
    background-color: #000;
    transition: all .5s;
    transition-delay: .3s;
    opacity: 0;
    transform: translateY(20px);
    position: relative
}

#testimonials-video .video iframe {
    width: 100%;
    height: 100%
}

#testimonials-video .video .closeVideo {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -21px;
    right: -21px;
    background-color: #29295c;
    border-radius: 50%;
    cursor: pointer
}

#testimonials-video .video .closeVideo::after,
#testimonials-video .video .closeVideo::before {
    content: "";
    position: absolute;
    background-color: #cacad7;
    width: 1px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform-origin: top
}

#testimonials-video .video .closeVideo::before {
    transform: rotate(45deg) translateY(-50%)
}

#testimonials-video .video .closeVideo::after {
    transform: rotate(-45deg) translateY(-50%)
}

.video_home {
    background-size: cover;
    background-image: url('../images/home/blocks/video.png');
    height: 650px;
}


/*Slider Noticias*/

#slider-banners {
    position: relative;
    width: 100%;
    height: 400px;
    float: left;
}

#slider-banners .slide {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    padding-left: 30px;
}

#slider-banners .slide h3 {
    position: relative;
    z-index: 2;
    font-family: 'sansa-pro-light', sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #29295c;
    margin-top: 130px;
    margin-bottom: 5px;
    width: 200px;
}

#slider-banners .slide p {
    position: relative;
    z-index: 2;
    font-family: sansa-pro-normal, 'Arial', sans-serif;
    font-size: 13px;
    color: #4b4c55;
    width: 200px;
    line-height: 20px;
}

#slider-banners .slide a {
    position: relative;
    z-index: 2;
}

#slider-banners .slide img {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    min-width: 100%;
}

#slider-banners .slider-banners-next {
    position: absolute;
    top: 60px;
    left: 70px;
    z-index: 999;
    cursor: pointer;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

#slider-banners .slider-banners-prev {
    position: absolute;
    top: 60px;
    left: 31px;
    z-index: 999;
    cursor: pointer;
}


/* Fin Slider */

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.col-no-space-right {
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.col-no-space-left {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.col-no-space {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.row-no-space {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.btn {
    display: inline-block;
    font-family: sansa-pro-normal, sans-serif;
    font-size: 12px;
    padding: 2px 25px 2px 20px;
    border-radius: 7px;
    min-width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}

main.inicio .ser_cliente {
    background-image: url('../images/home/blocks/hands.png');
    background-size: cover;
    height: 250px;
}

main.inicio .calculadora {
    background-image: url('../images/home/blocks/calc.png');
    background-size: cover;
    height: 250px;
}

.banner h4 {
    font-family: 'sansa-pro-light', sans-serif;
    font-size: 25px;
    line-height: 30px;
    color: #fff;
    width: 100%;
    text-transform: none;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.banner p {
    font-family: sansa-pro-normal, 'Arial', sans-serif;
    font-size: 13px;
    color: #fff;
    line-height: 20px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 25px;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

footer #info-footer .info.email a {
    right: -40px;
}


/*Autenticacion*/

.round-button {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 50px;
    border: 6px solid #f5f5f5;
    border-radius: 50%;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    background: #c4c4c4;
    box-shadow: 0 0 3px gray;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.round-button.active {
    background: #2ba6df;
}

.round-button:hover {
    background: #2ba6df;
}

.mt-20 {
    margin-top: 20px;
}

h5.registrarme {
    font-size: 20px;
    margin: 25px 0 10px 0;
}

h1 {
    font-family: sansa-pro-bold, sans-serif;
    font-size: 30px;
    color: #3AAA35;
}

main.autenticacion h2.instruccion {
    font-family: sansa-pro-light, sans-serif;
    font-size: 25px;
    color: #666666;
}

main .instruccion_container figure {
    width: 86px;
    height: 86px;
    overflow: hidden;
    border-radius: 50%;
}

main.autenticacion figure img {
    width: 102px;
    height: 102px;
    margin: 0px;
    display: block;
}

main.autenticacion .instruccion_container {
    margin-bottom: 55px;
}

main.autenticacion .boton-ingresar {
    margin-top: 43px;
}

main.autenticacion span.olvide_contrasena {
    font-size: 13px;
}

a#olvide-contrasena {
    font-size: 11px;
    color: #4a545e;
    text-decoration: underline;
}


/*Autenticacion*/


/*Detalle de Compra*/

#tabla-beneficiarios .col-eliminar-beneficiario a:hover {
    background-color: #870000;
}


/*Detalle de Compra*/


/*Comprobante de Pago*/

main.pago h2 {
    color: #951B81;
}


/*Comprobante de Pago*/

.btn-140 {
    max-width: 140px;
    height: 40px;
}


/*INICIO*/


/*COLORES*/

.verde {
    color: #2ba949 !important;
}


/*COLORES*/


/*    MARGINS*/

.h-40 {
    height: 40px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

#valores .row:first-child {
    margin-bottom: 40px;
}


/*    MARGINS*/


/*TITULOS*/

main.despacho_facturacion h1 {
    color: #0073b2;
}

main.detalle_compra h1,
main.comprobante h1 {
    color: #ee4c2b;
}

main.despacho_facturacion h2 {
    color: #0E71B8;
    font-size: 23px;
    margin-bottom: 25px;
}

h1.calculadora {
    font-family: sansa-pro-bold, sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #E94E1B;
}

h2.calculadora {
    font-family: sansa-pro-normal, sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #3F4A56;
    padding: 10px 0px 20px 0px;
}

h4.calculadora {
    font-family: sansa-pro-normal, sans-serif;
    font-size: 27px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top: 0px;
    display: block;
    text-align: center;
}

h5.calculadora {
    font-family: sansa-pro-normal, sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 0px;
    margin: 0 auto;
}


/*TITULOS*/

.instruccion_container h2 {
    font-family: sansa-pro-light;
}

h3.calculadora {
    font-family: sansa-pro-light, sans-serif;
    font-size: 22px;
    line-height: 18px;
    color: #FFFFFF;
    display: block;
    text-align: center;
}

h4.calculadora {
    font-family: sansa-pro-normal, sans-serif;
    font-size: 28px;
    line-height: 18px;
    color: #FFFFFF;
}

h5.calculadora strong {
    font-family: sansa-pro-bold;
}


/*INPUTS*/

[readonly],
[disabled] {
    background-color: #ddd;
}

main.detalle_compra input[readonly],
main.detalle_compra input[disabled] {
    background-color: #fff;
    color: #333;
}


/*INPUTS*/

#tabla-beneficiarios .fila {
    border-bottom: 1px solid #dae2e5;
    margin-top: 0px;
}

#tabla-compra .fila {
    border-bottom: 1px solid #dae2e5;
}

#tabla-compra .fila:first-child {
    padding-top: 10px;
    margin-top: 0;
}

#tabla-compra .fila {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 2px 0;
    margin-bottom: 0;
}

.volver {
    font-family: sansa-pro-normal;
    font-size: 14px;
    padding-top: 25px;
}

.volver a {
    color: #666;
    text-decoration: underline;
}


/*PROCESO DE COMPRA*/

.proceso_compra {
    height: 55px;
    background: #E5EBED
}

.proceso_compra ul {
    padding: 10px 0 0 0;
}

.proceso_compra li:last-child {
    margin-right: 0px;
}

.proceso_compra li {
    display: inline;
    font-family: sansa-pro-normal, sans-serif;
    font-size: 14.5px;
    color: #C9C9C9;
    margin-right: 20px;
}

li.comprobante:last-child {
    margin-right: 0px;
}

.proceso_compra li.active {
    font-family: sansa-pro-bold, sans-serif;
    margin-right: 20px;
    color: #6B6B6B;
}

.proceso_compra li img {
    height: 24px;
    width: 24px;
    display: inline;
    margin-right: 15px;
    border-radius: 50%;
    position: relative;
    top: 5px;
}


/*PROCESO DE COMPRA*/


/*Detalle de Compra*/

#tabla-compra .fila:last-child {
    font-family: sansa-pro-bold;
}

#tabla-compra span {
    color: #444e58;
}


/*Detalle de Compra*/


/*Pago*/

img.metodopago {
    margin: 40px auto 10px auto;
}


/*Pago*/


/*Calculadora*/

p.valores {
    margin-top: 20px;
}

a#calcular {
    margin-top: 30px;
}

#calculadora {
    display: none;
    margin-top: 50px;
}

#contrasena_olvidada {
    display: none;
}

#registro {
    display: none;
}   


/*Calculadora*/