form #ser_cliente {
    margin-top: 20px;
}

form {
    width: 100%;
    margin: 0 auto
}

form.centro button {
    width: 100%
}

form div.radio {
    display: block;
    width: 100%;
    font-family: sansa-pro-normal, 'Arial', sans-serif;
    color: #596066;
    font-size: 14px;
    line-height: 20px
}

form div.radio.plantilla img {
    width: 100%
}

form div.radio.plantilla div {
    margin: 10px auto!important;
    display: block;
    float: none
}

form div.radio.sexo div {
    margin-top: 10px
}

form div.radio.sexo div+span {
    float: left;
    margin-right: 20px;
    margin-top: 10px
}

form div.radio {
    margin-top: 0;
    margin-bottom: 10px
}

form div.radio .radiobox {
    display: inline-block
}

form div.radio .radiobox div {
    margin-top: 0
}

form div.radio .radiobox div+span {
    float: initial;
    display: inline-block;
    margin-top: 0;
    margin-left: 5px
}

form div.radio::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0
}

form div.telefono {
    position: relative;
    display: block;
    width: 100%;
    font-family: sansa-pro-normal, 'Arial', sans-serif;
    color: #596066;
    font-size: 14px;
    line-height: 20px
}

form div.telefono input {
    display: block;
    width: calc(75% - 18px);
    height: 30px;
    padding: 3px 5px;
    border-radius: 5px;
    border: 1px solid #bfcbcf;
    font-family: sansa-pro-normal, 'Arial', sans-serif;
    font-size: 13px;
    color: #596066;
    margin-top: 5px;
    float: left
}

form div.telefono .chosen-container {
    float: left;
    width: 25%!important;
    min-width: 25%!important;
    margin-right: 5px
}

form div.telefono .chosen-single {
    border: 1px solid #bfcbcf;
    font-family: sansa-pro-normal, 'Arial', sans-serif;
    font-size: 13px;
    height: 38px;
    padding: 3px 5px;
    margin-top: 5px;
    line-height: 32px;
    background-color: #fff;
    min-width: initial
}

label {
    position: relative;
    display: block;
    width: 100%;
    font-family: sansa-pro-normal, 'Arial', sans-serif;
    color: #3F4A56;
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 20px;
    font-weight: normal;
}

label::after {
    content: '';
    display: block;
    clear: both
}

label.none {
    margin: 0;
    padding: 0
}

label .checkbox-field {
    float: none;
    margin-bottom: 0;
    display: flex;
    flex-direction: row
}

label .checkbox-field div[class^=icheckbox_] {
    width: 22px!important;
    min-width: 22px!important;
    height: 22px!important;
    min-height: 22px!important;
    margin-right: 10px!important
}

label .checkbox-field span {
    text-indent: 0
}

main.autenticacion label input[type=text],
main.autenticacion label input[type=number],
main.autenticacion label input[type=email],
main.autenticacion label input[type=password] {
    width: calc(100% - 20px);
}

main.pago label input[type=text],
main.pago label input[type=number],
main.pago label input[type=email],
main.pago label input[type=password] {
    width: 100%;
}

label input[type=text],
label input[type=number],
label input[type=email],
label input[type=password] {
    display: block;
    width: calc(100% - 60px);
    height: 40px;
    padding: 3px 5px;
    border-radius: 5px;
    border: 1px solid #bfcbcf;
    font-family: sansa-pro-normal, 'Arial', sans-serif;
    font-size: 13px;
    color: #596066;
    margin-top: 10px;
    margin-bottom: 5px;
}

textarea {
    display: block;
    width: calc(100% - 60px);
    height: 50px;
    padding: 3px 5px;
    border-radius: 5px;
    border: 1px solid #bfcbcf;
    font-family: sansa-pro-normal, 'Arial', sans-serif;
    font-size: 13px;
    color: #596066;
    margin-top: 10px;
    margin-bottom: 5px;
}

.custom-combobox input {
    display: inline;
    width: calc(100% - 35px);
    height: 40px;
    padding: 3px 5px;
    border-radius: 5px;
    border-left: 1px solid #bfcbcf;
    border-right: 0px solid #bfcbcf;
    border-top: 1px solid #bfcbcf;
    border-bottom: 1px solid #bfcbcf;
    font-family: sansa-pro-normal, 'Arial', sans-serif;
    font-size: 13px;
    color: #596066;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #fff;
}

.ui-button {
    display: inline
}

a.ui-button-icon-only {
    height: 40px;
    background: #fff;
    border-radius: 5px;
}

.ui-button .ui-icon {
    background: url(./../images/general/flecha_select.png) no-repeat 0px 3px !important;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #2ba6df;
    background: #2ba6df;
    font-weight: normal;
    color: #fff;
}

label input[type=text].error,
label input[type=number].error,
label input[type=email].error,
label input[type=password].error {
    border: 1px solid #f20!important
}

label textarea {
    display: block;
    width: calc(100% - 12px);
    padding: 3px 5px;
    border-radius: 5px;
    border: 1px solid #bfcbcf;
    font-family: sansa-pro-normal, 'Arial', sans-serif;
    font-size: 13px;
    color: #596066;
    margin-top: 10px;
    margin-bottom: 5px;
    resize: none
}

label textarea.error {
    border: 1px solid #f20!important
}

label textarea:focus {
    border: 1px solid #bfcbcf
}

label .form-field-wrapper {
    position: relative;
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box
}

label .form-field-wrapper.form-field-help {
    padding-right: 38px
}

label .form-field-wrapper.form-field-help a.btn-info {
    position: absolute;
    margin: 0;
    top: 50%;
    right: 0;
    width: 25px;
    height: 25px;
    background-color: #f17600;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%)
}

label .form-field-wrapper.form-field-help a.btn-info * {
    box-sizing: border-box
}

label .form-field-wrapper.form-field-help a.btn-info i {
    display: flex;
    align-items: center;
    justify-content: center
}

label .form-field-wrapper input {
    margin: 0!important
}

label .form-field-wrapper .chosen-container {
    height: 38px!important;
    line-height: 38px!important
}

label .form-field-wrapper .chosen-container .chosen-single {
    margin: 0!important
}

label .form-field-wrapper .chosen-container .chosen-choices {
    height: 100%!important;
    line-height: 100%!important
}

label.ico {
    width: 100%;
    height: auto;
    border-radius: 0
}

form label.ico input {
    background-repeat: no-repeat;
    background-position: 5px;
    padding: 3px 5px 3px 35px;
    width: calc(100% - 40px)
}

form div.radio div+span {
    display: block;
    line-height: 23px
}

form div.radio div+span::after {
    display: block;
    content: '';
    clear: both;
    margin-bottom: 0
}

main.autenticacion form .chosen-container {
    min-width: 100%!important
}

form .chosen-choices,
form .chosen-single {
    border: 1px solid #bfcbcf!important;
    font-family: sansa-pro-normal, 'Arial', sans-serif!important;
    font-size: 13px;
    height: 40px;
    padding: 3px 5px!important;
    margin-top: 5px;
    line-height: 32px!important;
    background-color: #fff;
    border-radius: 5px
}

form select.error+.chosen-container .chosen-single {
    border: 1px solid #f20!important
}

form .chosen-drop {
    border: 1px solid #bfcbcf!important
}

form .chosen-results li {
    font-family: sansa-pro-normal, 'Arial', sans-serif!important;
    font-size: 13px
}

form .chosen-choices {
    background-image: url(../images/general/flecha_select_movil.png);
    background-repeat: no-repeat;
    background-position: 98% 50%
}

form .chosen-choices+.chosen-drop {
    margin-top: 5px
}

form .btn {
    display: block;
    border: none;
    width: 200px
}

form .accordionButton {
    line-height: 30px
}

form .accordionButton:hover {
    opacity: .8
}

form .accordionContent {
    padding: 20px;
    background-color: #efefef;
    border-radius: 5px
}

form input[type=file] {
    display: none;
    width: calc(100% - 10px);
    height: 30px;
    padding: 3px 5px;
    border-radius: 5px;
    border: 1px solid #bfcbcf;
    font-family: sansa-pro-normal, 'Arial', sans-serif;
    font-size: 13px;
    color: #596066;
    margin-top: 5px
}

form input[type=file]+a.subir-archivo {
    display: block;
    width: 80px;
    height: 30px;
    background-color: #ccc;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 5px;
    background-image: url(../images/iconos/ico_subir_archivo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    float: left
}

input[type=file]+a.subir-archivo:hover {
    background-color: #bbb
}

input[type=file]+a.subir-archivo+span {
    display: block;
    float: left;
    font-size: 12px;
    font-family: sansa-pro-normal, sans-serif;
    line-height: 60px;
    height: 30px
}

.desde-hasta .chosen-container {
    display: block!important;
    width: calc(50% - 15px)!important;
    min-width: calc(50% - 15px)!important;
    float: left
}

.desde-hasta .chosen-single {
    display: block!important;
    min-width: initial!important
}

.desde-hasta {
    position: relative
}

.desde-hasta p {
    display: block;
    float: left;
    line-height: 46px!important;
    margin: 0 10px
}

input.item-lista {
    background-color: #efefef;
    width: 90%!important;
    display: inline-block;
    border: 1px solid #efefef!important
}

input.item-lista+a.del,
input.item-lista+a.del-restriccion {
    display: block;
    margin-top: 5px;
    border: none;
    background-color: #e4452c;
    width: 35px;
    height: 38px;
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
    text-indent: 0;
    line-height: 38px;
    margin-bottom: 0
}

span.error {
    position: absolute;
    color: #f20;
    font-size: 10px;
    top: 60px;
    left: 0
}

div.telefono span.error {
    left: 90px
}

div.desde-hasta span.error {
    left: 5px
}

div.chosen-container+span.error {
    top: 60px
}

textarea+span.error {
    position: relative;
    top: 0!important
}

input[type=text].error {
    border: 1px solid #f20 !important;
}

span.obligatorio {
    color: #e94e1b;
    font-family: Arial;
    font-size: 14px;
    margin-left: 5px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(44, 178, 228, .75);
    z-index: 999999
}

#mensaje-respuesta {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 7px;
    padding: 120px 50px 50px 50px;
    z-index: 999999;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100px;
    border-top: 20px solid #fff
}

#mensaje-respuesta.exito {
    background-image: url(../images/iconos/ico_exito.png)
}

#mensaje-respuesta.error {
    background-image: url(../images/iconos/ico_error.png)
}

#mensaje-respuesta p span {
    font-size: 25px;
    font-family: sansa-pro-bold, sans-serif;
    color: #596066;
    margin-bottom: 20px;
    text-align: center;
    display: block
}

#mensaje-respuesta p {
    font-size: 14px;
    font-family: sansa-pro-normal, 'Arial', sans-serif;
    color: #596066;
    text-align: center
}

#mensaje-respuesta span.btn-cerrar {
    position: absolute;
    top: -30px;
    right: -10px;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-image: url(../images/home/encuesta/btn_cerrar_encuesta.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #29295c;
    background-size: 20px;
    cursor: pointer
}

.fila.fila-titulo-promocion .col-2 {
    margin-bottom: 10px
}

.fila.acepta {
    margin: 15px 0
}

.img_captcha {
    width: calc(100% - 55px);
}

label.error {
    color: #f44336 !important;
}

.error {
    color: #f44336;
    font-size: 13px !important;
    font-family: sansa-pro-normal !important;
}

.instruccion_container {
    max-width: 100%
}