
section#destacados .right-side .bottom-box .testimonials {
    width: 50%;
    height: 100%;
    background-color: #41acd3;
    color: #fff;
    position: relative;
    overflow: hidden
}

section#destacados .right-side .bottom-box .testimonials .testimony {
    width: 100%;
    height: 100%;
    cursor: pointer
}

section#destacados .right-side .bottom-box .restaurants .restaurant .restaurant-inner,
section#destacados .right-side .bottom-box .testimonials .testimony .testimony-inner {
    width: 100%;
    height: 100%;
    padding-top: 15px;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start
}

section#destacados .right-side .bottom-box .restaurants .restaurant .restaurant-inner .restaurant-header,
section#destacados .right-side .bottom-box .testimonials .testimony .testimony-inner .testimony-header {
    position: relative
}

section#destacados .right-side .bottom-box .testimonials .testimony .testimony-inner .testimony-header .testimony-video {
    position: absolute;
    width: 45px;
    height: 45px;
    top: -2px;
    right: 0;
    z-index: 1;
    border-radius: 50%;
    transform: translateX(50%);
    background-color: #2c2b2b;
    text-align: center;
    line-height: 45px;
    color: #fff;
    font-size: 26px
}

section#destacados .right-side .bottom-box .restaurants .restaurant .restaurant-inner .restaurant-header .restaurant-img,
section#destacados .right-side .bottom-box .restaurants .restaurant .restaurant-inner .restaurant-text,
section#destacados .right-side .bottom-box .testimonials .testimony .testimony-inner .testimony-text {
    margin: 7px 35px 9px;
    height: 100px;
    min-height: 100px;
    max-width: calc(100% - 70px);
    overflow: hidden
}

section#destacados .right-side .bottom-box .restaurants .restaurant .restaurant-inner .restaurant-text p,
section#destacados .right-side .bottom-box .testimonials .testimony .testimony-inner .testimony-text p {
    font-family: Arial, sans-serif;
    font-style: italic;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #fff
}

section#destacados .right-side .bottom-box .testimonials .testimony .testimony-inner .testimony-text p q {
    quotes: "\201C" "\201C"
}

section#destacados .right-side .bottom-box .restaurants .restaurant .restaurant-inner .restaurant-info,
section#destacados .right-side .bottom-box .testimonials .testimony .testimony-inner .testimony-user-info {
    margin: 0 35px
}

section#destacados .right-side .bottom-box .restaurants .restaurant .restaurant-inner .restaurant-info h3,
section#destacados .right-side .bottom-box .testimonials .testimony .testimony-inner .testimony-user-info h3 {
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 12px;
    text-align: center;
    color: #fff;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center
}

section#destacados .right-side .bottom-box .restaurants .restaurant .restaurant-inner .restaurant-info h3 small,
section#destacados .right-side .bottom-box .testimonials .testimony .testimony-inner .testimony-user-info h3 small {
    font-size: 12px;
    line-height: 15px;
    margin-top: 6px
}
