header .logo-sodexo {
    position: absolute;
    top: 40px;
    right: 0px;
    width: 200px;
}

main.interior {
    background-color: #fff;
}

#cabecera-publico {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    overflow: hidden;
}

#cabecera-publico > .wrap {
    position: relative;
    height: 180px;
    padding: 20px 0px 10px 0px;
}

#cabecera-publico.quienes-somos {
    background-color: #396d95;
}

#cabecera-publico.quienes-somos img {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    z-index: 1;
}

#cabecera-publico.integridad {
    background-image: url(../images/home/bg_integridad.jpg);
}

#cabecera-publico.newsletter {
    background-image: url(../images/home/bg_newsletter.jpg);
}

#cabecera-publico.politicas {
    background-image: url(../images/home/bg_politicas.jpg);
}

#cabecera-publico.crece {
    background-image: url(../images/interior/bg_crece.jpg);
    background-position: center;
}

#cabecera-publico.olvide-clave {
    background-image: url(../images/interior/bg_clave.jpg);
}

#cabecera-publico.contacto {
    background-image: url(../images/home/bg_contacto.jpg);
}

#cabecera-publico.sodexo-club {
    background-image: url(../images/home/bg_sodexo.jpg);
}

#cabecera-publico.sodexo-club img.logo-sodexo-club {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
}

#cabecera-publico.noticias {
    background-image: url(../images/interior/bg_news.jpg);
}


/*Ruta*/

#cabecera-publico.drop #ruta {
    margin-top: 30px;
}

#ruta {
    margin-top: 10px;
}

#ruta p,
#ruta p a {
    font-family: sansa-pro-normal, 'Arial', sans-serif;
    font-size: 13px;
    color: #fff;
    display: inline-block;
    margin-right: 5px;
}

#ruta p::after {
    content: '>';
    display: inline-block;
    margin-left: 5px;
}

#ruta p:last-child {
    font-family: sansa-pro-bold, 'Arial', sans-serif;
    font-weight: bold;
}

#ruta p:last-child::after {
    display: none;
}


/*Titulo seccion*/

#cabecera-publico .titulo {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    z-index: 2;
}

#cabecera-publico .titulo h2 {
    font-family: 'sansa-pro-normal', sans-serif;
    color: #fff;
    font-size: 25px;
    margin-bottom: 5px;
    z-index: 2;
}

#cabecera-publico .titulo h3 {
    font-family: 'sansa-pro-light', sans-serif;
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
    line-height: 37px;
    z-index: 2;
}

#cabecera-publico .titulo h3::after {
    content: '';
    display: block;
    width: 70px;
    height: 5px;
    background-color: #fff;
    margin: 15px 0px;
}

#cabecera-publico .titulo p {
    font-family: sansa-pro-normal, 'Arial', sans-serif;
    color: #fff;
    font-size: 14px;
}


/*Textos*/

main .textos {
    padding: 30px 0px;
}

main .textos .txt-azul {
    color: #0e71b8;
}

main .textos .txt-morado {
    color: #951b81;
}

main .textos .txt-naranjo {
    color: #e94e1b;
}

main .textos .txt-verde {
    color: #3aaa35;
}

main .textos .txt-amarillo {
    color: #ef9d1c;
}

main .textos h4 {
    font-family: 'sansa-pro-light', sans-serif;
    font-size: 25px;
    color: #2aa6df;
    margin-bottom: 20px;
}

main .textos h4.ico-apoyamos {
    background-image: url(../images/iconos/ico_apoyamos.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 30px;
    padding-left: 40px;
    font-size: 20px;
    line-height: 30px;
    font-family: 'sansa-pro-bold', sans-serif;
}

main .textos h4.ico-valoramos {
    background-image: url(../images/iconos/ico_valoramos.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 30px;
    padding-left: 40px;
    font-size: 20px;
    line-height: 30px;
    font-family: 'sansa-pro-bold', sans-serif;
}

main .textos h4.ico-ayudamos {
    background-image: url(../images/iconos/ico_ayudamos.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 30px;
    padding-left: 40px;
    font-size: 20px;
    line-height: 30px;
    font-family: 'sansa-pro-bold', sans-serif;
}

main .textos h4.ico-promovemos {
    background-image: url(../images/iconos/ico_promovemos.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 30px;
    padding-left: 40px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 79px;
    font-family: 'sansa-pro-bold', sans-serif;
}

main .textos h5 {
    font-family: 'sansa-pro-normal', sans-serif;
    font-size: 20px;
    color: #596066;
    margin-bottom: 20px;
}

main .textos p {
    font-family: sansa-pro-normal, 'Arial', sans-serif;
    color: #596066;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: justify;
}


/*Formulario ContÃ¡ctenos*/

form.contactenos .comentario,
form.contactenos .asociado,
form.contactenos label[for="mensaje"] {
    display: none;
}

.textos.quienes-somos .izq:last-child {
    border-right: none;
    margin-right: 0px;
    padding-right: 0px;
}

.textos.quienes-somos .valores p,
.textos.quienes-somos .principios p {
    padding-left: 70px;
    line-height: 70px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: left center;
    margin-right: 10px;
    width: 190px;
}

.textos.quienes-somos .valores p:nth-child(1) {
    background-image: url(../images/iconos/quienes_somos/ico_espiritu_servicio.png);
}

.textos.quienes-somos .valores p:nth-child(2) {
    background-image: url(../images/iconos/quienes_somos/ico_espiritu_equipo.png);
}

.textos.quienes-somos .valores p:nth-child(3) {
    background-image: url(../images/iconos/quienes_somos/ico_espiritu_progreso.png);
}

.textos.quienes-somos .principios p:nth-child(1) {
    background-image: url(../images/iconos/quienes_somos/ico_respeto.png);
}

.textos.quienes-somos .principios p:nth-child(2) {
    background-image: url(../images/iconos/quienes_somos/ico_lealtad.png);
}

.textos.quienes-somos .principios p:nth-child(3) {
    background-image: url(../images/iconos/quienes_somos/ico_transparencia.png);
}

.textos.quienes-somos .principios p:nth-child(4) {
    background-image: url(../images/iconos/quienes_somos/ico_integridad.png);
}

.destacado-quienes-somos {
    position: relative;
}

.destacado-quienes-somos .bg-izq {
    background-color: #2ba6df;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.destacado-quienes-somos .bg-der {
    background-color: #398aaf;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
}

.destacado-quienes-somos .izq {
    position: relative;
    height: 300px;
    width: 33%;
    background-color: #2ba6df;
}

.destacado-quienes-somos .izq:first-child p {
    position: absolute;
    width: 90%;
    font-family: 'sansa-pro-light', sans-serif;
    color: #fff;
    font-size: 22px;
    line-height: 35px;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

.destacado-quienes-somos .izq:nth-child(2) {}

.destacado-quienes-somos .izq:nth-child(2) img {
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 20px;
}

.destacado-quienes-somos .izq:nth-child(2) .info {
    float: left;
    margin-top: 35px;
    width: 260px;
}

.destacado-quienes-somos .izq:nth-child(2) .info p {
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
}

.destacado-quienes-somos .izq:nth-child(2) .info p span {
    font-family: 'sansa-pro-bold', sans-serif;
    display: block;
    font-size: 20px;
}

.destacado-quienes-somos .izq:last-child {
    background-color: #398aaf;
}

.destacado-quienes-somos .izq:last-child img {
    width: 100px;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 20px;
}

.destacado-quienes-somos .izq:last-child .info {
    float: left;
    margin-top: 35px;
    width: 190px;
    padding: 0px 10px 0px 0px;
}

.destacado-quienes-somos .izq:last-child .info h4 {
    color: #fff;
}

.destacado-quienes-somos .izq:last-child .info p {
    margin-bottom: 5px;
    color: #fff;
    text-align: left;
    font-size: 13px;
}


/*Integridad*/

main .textos.integridad p.accordionButton {
    font-size: 14px;
    font-family: 'sansa-pro-bold', sans-serif;
    line-height: 30px;
}

.default h1 {
    font-size: 34px !important;
    color: #444e58 !important;
    font-family: sansa-pro-bold, 'Arial', sans-serif !important;
    margin: 0px !important;
}

.default h2 {
    font-size: 28px !important;
    color: #444e58 !important;
    font-family: sansa-pro-bold, 'Arial', sans-serif !important;
    margin: 0px !important;
}

.default h3 {
    font-size: 24px !important;
    color: #444e58 !important;
    font-family: sansa-pro-bold, 'Arial', sans-serif !important;
    margin: 0px !important;
}

.default h4 {
    font-size: 20px !important;
    color: #444e58 !important;
    font-family: sansa-pro-bold, 'Arial', sans-serif !important;
    margin: 0px !important;
}

.default h5 {
    font-size: 18px !important;
    color: #444e58 !important;
    font-family: sansa-pro-bold, 'Arial', sans-serif !important;
    margin: 0px !important;
}

.default h6 {
    font-size: 16px !important;
    color: #444e58 !important;
    font-family: sansa-pro-bold, 'Arial', sans-serif !important;
    margin: 0px !important;
}

.default ul {
    list-style: circle;
}

.default li {
    margin: 10px;
}

.default table {
    font-family: sansa-pro-normal ,'Arial', sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 40px auto;
}

.default th{
    font-family: sansa-pro-bold, 'Arial', sans-serif;
}
.default td, th {
    font-size: 14px;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.default tr:nth-child(even) {
    background-color: #ecf1f3;
}