@media all and (max-width:1024px) {
    input,
    select {
        -webkit-appearance: none;
        width: 100%
    }
    .desktop {
        display: none!important
    }
    .wrap {
        width: 100%
    }
    .btn.der {
        margin-right: auto!important;
        margin-left: auto!important
    }
    .ico {
        width: 30px;
        height: 30px;
        background-size: 20px
    }
    .movil {
        display: block!important
    }
    .movil.horizontal {
        display: none!important
    }
    #envoltorio {
        z-index: 1
    }
    #contenedor {
        overflow: hidden
    }
    #contenedor .wrap.textos.integridad {
        padding: 0 20px;
        box-sizing: border-box
    }
    header {
        position: relative;
        height: 100px
    }
    header h1 {
        height: auto;
        line-height: 100px;
        margin-top: 10px;
        margin-left: 30px;
    }
    header h1 a {
        height: auto;
        width: 120px
    }
    header.error h1 {
        width: 120px;
        margin: 0 auto;
        float: none;
        padding: 10px
    }
    header h1 a img {
        width: 100%
    }
    header #acceso-usuarios {
        position: absolute;
        width: auto;
        float: none;
        top: 40px;
        right: 10px;
        height: auto;
        margin-top: 0
    }
    header #acceso-usuarios .titulo {
        float: none;
        width: auto;
        height: auto;
        padding-right: 0;
        margin-right: 0;
        border-right: none;
        background-image: url("../../images/iconos/ico_usuario_movil.gif");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 22px;
        padding-left: 25px
    }
    header #acceso-usuarios .titulo p {
        font-size: 20px;
        line-height: 22px;
        margin-top: 0
    }
    header #acceso-usuarios a.olvido-clave,
    header #acceso-usuarios a.registro,
    header #acceso-usuarios form#form-acceso-escritorio {
        display: none
    }
    header form#form-acceso-moviles {
        display: none;
        position: absolute;
        width: 100%;
        top: 100px;
        background-color: #29295D;
        padding-bottom: 20px
    }
    header form#form-acceso-moviles label {
        display: block;
        width: 224px;
        margin: 20px auto
    }
    header form#form-acceso-moviles label input[type=password],
    header form#form-acceso-moviles label input[type=text] {
        font-family: sansa-pro-light, sans-serif;
        font-size: 13px;
        display: block;
        background-color: #fff;
        border: none;
        border-radius: 3px;
        height: 24px;
        padding: 3px 10px 3px 40px;
        margin: 0;
        background-repeat: no-repeat;
        background-position: 5% 50%;
        width: calc(100% - 50px)
    }
    header #btn-menu-moviles {
        position: relative;
        display: block;
        height: 25px;
        width: 40px;
        float: left;
        margin-right: 0px;
        margin-left: 10px;
        margin-top: 38px;
        transition: all .3s ease
    }
    header #btn-menu-moviles span {
        position: absolute;
        background-color: #fff;
        height: 4px;
        width: 100%;
        border-radius: 3px
    }
    header #btn-menu-moviles span.top {
        top: 0;
        transform-origin: top left;
        transition: all .3s ease
    }
    header #btn-menu-moviles span.mid {
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transition: all .3s ease
    }
    header #btn-menu-moviles span.bottom {
        bottom: 0;
        transform-origin: bottom left;
        transition: all .3s ease
    }
    header #btn-menu-moviles.closeNav span.top {
        transform: rotate(45deg);
        width: 80%
    }
    header #btn-menu-moviles.closeNav span.mid {
        opacity: 0
    }
    header #btn-menu-moviles.closeNav span.bottom {
        transform: rotate(-45deg);
        width: 80%
    }
    nav {
        background-color: #fff!important
    }
    nav {
        display: none;
        position: absolute;
        width: 100%;
        height: auto;
        bottom: auto;
        top: 100px;
        left: 0;
        z-index: 99999
    }
    nav .wrap>ul>li {
        display: block;
        margin-right: 0!important;
        line-height: 45px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        background-repeat: no-repeat;
        background-size: 25px;
        padding-left: 40px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    nav .wrap>ul>li.inicio {
        background-image: url("../../images/iconos/ico_inicio.png");
        background-position: 10px 20px
    }
    nav .wrap>ul>li.sodexo-club {
        background-image: url("../../images/iconos/ico_sodexoclub.png");
        background-position: 10px 20px
    }
    nav .wrap>ul>li.busca {
        background-image: url("../../images/iconos/ico_buscador.png");
        background-position: 10px 20px;
        min-height: 65px;
        display: flex;
        align-items: center
    }
    nav .wrap>ul>li.busca>a {
        line-height: 1
    }
    nav .wrap>ul>li.donde-comer {
        background-image: url("../../images/iconos/ico_buscador.png");
        background-position: 10px 20px
    }
    nav .wrap>ul>li.mi-tarjeta {
        background-image: url("../../images/iconos/iconos_menu_tajeta.png");
        background-position: 10px 20px
    }
    nav .wrap>ul>li.vivir-bien {
        background-image: url("../../images/iconos/ico_vivir_bien.png");
        background-position: 10px 20px
    }
    nav .wrap>ul>li:first-child {
        display: block
    }
    nav .wrap>ul>li>a {
        display: block;
        padding: 0px;
        font-size: 15px;
        color: #29295D;
        line-height: 40px;
    }
    nav .wrap>ul>li>a::after {
        display: none
    }
    nav .wrap>ul>li>ul {
        display: none!important
    }
    #login-fb {
        display: none
    }
    footer {
        padding: 10px 0;
        height: auto;
        top: 0px;
    }
    footer .logo-sodexo {
        position: relative;
        right: auto;
        top: auto;
        width: 174px;
        margin: 0 auto 20px auto
    }
    footer ul#menu-footer {
        padding: 10px 0;
        border-top: 1px solid rgba(255, 255, 255, .2);
        border-bottom: 1px solid rgba(255, 255, 255, .2);
        text-align: center
    }
    footer ul#menu-footer li {
        display: inline-block;
        margin: 0 2px 0 0;
        padding: 0 2px 0 0
    }
    footer ul#menu-footer li a {
        font-size: 8px;
        line-height: 8px;
        display: block
    }
    footer #info-footer {
        border-top: none;
        padding: 10px 20px 0 20px;
        margin-top: 10px
    }
    footer #info-footer span.info {
        float: none;
        border-right: none;
        padding: 0;
        margin-right: 0;
        text-align: center;
        height: 50px;
        line-height: 20px;
        display: block
    }
    footer #info-footer span.info.telefono {
        height: 50px;
        background-position: 0 0;
        width: 150px;
        text-align: left;
        margin: 0 auto
    }
    #aviso span {
        border-right: none;
        float: none;
        margin: 0 auto 15px auto;
        width: 130px;
        display: block
    }
    #aviso img#btn-cerrar-aviso {
        float: none;
        position: absolute;
        top: -10px;
        right: 10px
    }
    #aviso p {
        float: none;
        text-align: center;
        padding: 0;
        width: 90%;
        margin: 0 auto;
        font-size: 12px
    }
    main .wrap {
        width: 100%;
        box-sizing: border-box;
        /*        padding: 10px*/
    }
    main .wrap .mensaje_importante {
        margin: 0
    }
    main .destacado-quienes-somos .wrap {
        padding: 0
    }
    main.privado section {
        width: calc(100% - 20px)!important;
        padding: 30px 10px!important
    }
    main h5 {
        font-size: 20px
    }
    section h4 {
        font-size: 22px
    }
    section p {
        font-size: 12px
    }
    section h4+p {
        width: auto
    }
    section .sub-seccion {
        padding: 10px;
        width: calc(100% - 20px)
    }
    section .titulo {
        position: relative
    }
    section .titulo h5 {
        line-height: 20px;
        width: 85%;
        font-size: 14px;
        margin-bottom: 15px
    }
    section .titulo h5+.ico {
        position: absolute;
        float: none;
        top: 0;
        right: 0;
        margin-right: 10px!important
    }
    section .titulo h5::after {
        position: relative;
        width: 118%
    }
    .ico-doc,
    .ico-pdf,
    .ico-xls {
        background-size: 16px
    }
    .btn.der.ico-xls {
        margin-right: 10px!important
    }
    .fila .col.pull-left:not(:first-child) {
        margin-left: 0
    }
    .tablet.horizontal {
        display: none!important
    }
    #mensaje-exito {
        width: 90%;
        margin: 0 auto
    }
    #mensaje-exito .izq {
        float: none
    }
    #mensaje-exito img {
        width: 50%;
        margin: 0 auto
    }
    #mensaje-exito a:not(.btn),
    #mensaje-exito h3,
    #mensaje-exito h4 {
        text-align: center;
        font-size: 20px
    }
    #mensaje-exito .btn {
        margin: 50px auto 0 auto;
        width: 150px;
        display: block
    }
    #filtro-busqueda .sk-fading-circle {
        float: none;
        width: 200px;
        margin: 0 auto
    }
    .fila {
        padding: 0
    }
    .fila.borde {
        padding-bottom: 10px
    }
    form select {
        display: block;
        width: 100%;
        background-color: #fff;
        border: 1px solid #bfcbcf;
        padding: 5px;
        margin-top: 5px;
        border-radius: 5px;
        font-family: sansa-pro-normal, 'Arial', sans-serif;
        font-size: 12px;
        height: 38px;
        background-image: url("../../images/general/flecha_select_movil.png");
        background-repeat: no-repeat;
        background-position: 95% 50%
    }
}