@media all and (max-width: 1024px){
    header .logo-sodexo{
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
    }

    #ruta{
        display: none;
    }

    /*Cabecera*/
    #cabecera-publico > .wrap{
        padding: 20px 0px;
        height: auto;
    }

    #cabecera-publico .titulo{
        width: 90%;
        margin: 0 auto;
        position: relative;
        top: auto;
        left: auto;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
    }

    #cabecera-publico.crece .titulo{
        width: 50%;
        margin: 0px 0px 0px 10px;
    }

    #cabecera-publico .titulo h3{
        font-size: 20px;
        line-height: 25px;
    }

    #cabecera-publico.sodexo-club img.logo-sodexo-club{
        width: 80px;
        margin-right: 15px;
    }

    /*Main*/
    main .textos{
        padding: 20px;
        width: calc(100% - 40px);
    }

    main .textos h4.ico-promovemos{
        margin-top: 0px;
    }

    /*Fila*/
    .fila .col{
        width: 100% !important;
        float: none !important; 
    }

    .fila .col:last-child{
        margin-bottom: 10px;
    }

    /*Quienes Somos*/
    .textos.quienes-somos .valores p,
    .textos.quienes-somos .principios p{
        float: none !important;
    }

    .destacado-quienes-somos .izq{
        height: auto;
    }

    .destacado-quienes-somos .izq:first-child{
        width: 100%;
        float: none;
    }

    .destacado-quienes-somos .izq:first-child p{
        position: relative;
        top: auto;
        left: auto;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        padding: 20px;
        width: 90%;
        margin: 0 auto;
    }

    .destacado-quienes-somos > .wrap > .izq:nth-child(2),
    .destacado-quienes-somos > .wrap > .izq:last-child{
        width: 50%;
        height: 260px;
    }

    .destacado-quienes-somos .izq:nth-child(2) img{
        margin-top: 20px;
        margin-right: 2%;
        margin-left: 20px;
        width: 40px;
    }

    .destacado-quienes-somos .izq:nth-child(2) .info{
        width: 280px;
        margin-top: 20px;
    }

    .destacado-quienes-somos .izq:last-child{
        background-color: #387b9a;
    }

    .destacado-quienes-somos .izq:last-child img{
        width: 40px;
    }

    .destacado-quienes-somos .izq:last-child .info{
        margin-top: 20px;
    }

    .textos.quienes-somos > div{
        width: 50%;
        float: left;
        margin-bottom: 20px;
    }

    #cabecera-publico .titulo p{
        width: 70%;
    }

    #cabecera-publico .titulo img{
        position: absolute;
        top: 50%;
        right: 10px;
        width: 120px;
        transform: translateY(-50%);
    }

}

@media all and (max-width: 767px){
    header .logo-sodexo{
        display: none;
    }

    /*Quienes Somos*/
    #cabecera-publico .titulo img{
        position: absolute;
        top: 50%;
        right: 0px;
        width: 80px;
        transform: translateY(-50%);
    }

    .destacado-quienes-somos > .wrap > .izq,
    .destacado-quienes-somos > .wrap > .izq:nth-child(2),
    .destacado-quienes-somos > .wrap > .izq:last-child{
        width: 100%;
        height: auto;
        float: none;
    }

    .destacado-quienes-somos > .wrap > .izq:nth-child(2),
    .destacado-quienes-somos > .wrap > .izq:last-child{
        padding-bottom: 20px;
    }

    .destacado-quienes-somos .izq:first-child p{
        position: relative;
        top: auto;
        left: auto;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        font-size: 15px;
        line-height: 20px;
        padding: 20px;
    }

    .destacado-quienes-somos .izq:nth-child(2) img{
        margin-top: 20px;
        margin-right: 2%;
        margin-left: 20px;
        width: 40px;
    }

    .destacado-quienes-somos .izq:nth-child(2) .info{
        width: 250px;
        margin-top: 20px;
    }

    .destacado-quienes-somos .izq:last-child img{
        width: 40px;
    }

    .destacado-quienes-somos .izq:last-child .info{
        margin-top: 20px;
    }

    .textos.quienes-somos .valores p,
    .textos.quienes-somos .principios p{
        float: none !important;
        padding-left: 40px;
        line-height: 40px;
        margin-bottom: 10px;
        background-repeat: no-repeat;
        background-position: left center;
        margin-right: 40px;
        background-size: 30px;
    }

    .textos.quienes-somos > div{
        width: 100%;
        float: none;
        margin-bottom: 0px;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px){
    .destacado-quienes-somos > .wrap > .izq:nth-child(2){
        background-color: #2092c7;
        padding-bottom: 20px;
    }

    .destacado-quienes-somos > .wrap > .izq:last-child{
        padding-bottom: 20px;
    }
}