@media all and (max-width: 1024px){
    #modal{
        width: 70%;
    }

    #modal p.pregunta{
        font-size: 22px;
    }

    #modal span.btn-cerrar-encuesta{
        width: 37px;
        height: 37px;
        background-size: 25px;
        top: -10px;
        right: -10px;
    }

    #modal label{
        font-size: 12px;
    }

    #modal.encuesta .pregunta > p{
        font-size: 18px;
    }
}

@media all and (max-width: 1024px) and (orientation:landscape){
    #modal{
        height: 70%;
        width: 80%;
    }

    #modal.encuesta .pregunta > p{
        margin-top: 0px;
    }
}