/***********************************************************************************************************************
DOCUMENT: style/format.css
DEVELOPED BY: Ryan Stemkoski
COMPANY: Zipline Interactive
EMAIL: ryan@gozipline.com
PHONE: 509-321-2849
DATE: 2/26/2009
DESCRIPTION: This document contains the structural formatting files for the accordion style menu.
************************************************************************************************************************/
.accordionButton{
    cursor: pointer;
    border-bottom: 1px solid #bfcbcf;
    padding-bottom: 25px;
    padding-left: 40px;
    background-image: url("../../images/general/accordion_abrir.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 30px;
}

.accordionButton:first-child{
	border-top: none;
}

.accordionButton:last-child{
    border-bottom: none;
}

.accordionContent {
}

.accordionContent:last-child{
	margin-bottom: 0px !important;
}

/***********************************************************************************************************************
 EXTRA STYLES ADDED FOR MOUSEOVER / ACTIVE EVENTS
************************************************************************************************************************/

.on {
	background-image: url("../../images/general/accordion_cerrar.png");
	background-repeat: no-repeat;
}

.over {
	opacity: 0.8;
}

